<h1>{{results}} </h1>

<form>
	<fieldset>
		<input type="text" id="name" placeholder="Workout:"> 
		</input>
		
		<input type="text" id="date" placeholder="Date:">
		</input>

		<input type="text" id="reps" placeholder="Reps:">
		</input>

		<input type="text" id="weight" placeholder="Weight:">
		</input>
	
		</br>

		<input type="checkbox"  id="lbs"> 
		lbs 
		</input>
	
	</fieldset>

	<fieldset>
	
		<button id="send"> Submit </button>

	</fieldset>
</form>



<table border="1">
	<caption> 
		Exercise Log
	</caption>
	<thead>
		<tr>
			<th> 
				Name
			</th>
			<th>
				Reps
			</th>
			<th>
				Weight
			</th>
			<th>
				Date
			</th>
			<th>
				lbs
			</th>
		</tr>
	</thead>
	<tbody id="tableBody">
		{{#each data}}
			<tr>
				<td>
					{{this.name}}
				</td>
				<td>
					{{this.reps}}
				</td>
				<td>
					{{this.weight}}
				</td>
				<td>
					{{this.date}}
				</td>
				<td>
					{{this.lbs}}
				</td>
				<td>
					<button onclick="edit({{this.id}})">
						Edit
					</button>
				<td>
				<td>
					<button onclick="remove(this, {{this.id}})">
						Delete
					</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>


<script src="client.js">
</script>
