<script src="edit.js"></script>

<form>
	<fieldset>
		<legend>Edit Workout</legend>
		<input type="hidden"  id="id" value="{{data.id}}">
		</input>

       		<input type="text" placeholder="workout" id="name" value="{{data.name}}">
		</input>

        	<input type="text" placeholder="reps" id="reps" value="{{data.reps}}"> 
		</input>

        	<input type="text" placeholder="weight" id="weight" value="{{data.weight}}"> 
		</input>

        	<input type="text" placeholder="date" id="date" value="{{data.date}}"> 
		</input>

        	<input type="checkbox" name="workoutLbs" id="lbs" value={{data.lbs}}>
			lbs
		</input>
    	</fieldset>
	<fieldset>
        	<input type="submit" id="update">
		</input>
    	</fieldset>
</form>
