


<a href="/">
        Home
</a>

<br>

<center>
<h1>Consensus Algorithm Information</h1>
<p>{{results}}</p>
</center>

<center>
<table border ="1">
	<thead>
		<th>
		</th>
		{{#each data}}
		<th>
			{{this.name}}
		</th>
		{{/each}}
	</thead>
	<tbody>
		<tr>
			<td>
				Security Score
			</td>	
		{{#each data}}
			<td>
				{{this.sec_score}}
			</td>
		{{/each}}	
		</tr>
		 <tr>
                        <td>
                                Energy Efficiency Score
                        </td>
                {{#each data}}
                        <td>
                                {{this.ee_score}}
                        </td>
                {{/each}}
                </tr>

	</tbody>
</table>

<br>
<br>

<table border="1">
<caption>
	<h4>
	Which Blockchain Uses Which Consensus Algorithm
	</h4>
</caption>
	<thead>
		<th>
			Blockchain
		</th>
		<th>
			Consensus Algorithm
		</th>
	</thead>
	<tbody>
		{{#each ba}}
			<tr>
				<td>
				{{this.bname}}
				</td>
				<td>
				{{this.cname}}
				</td>
			</tr>
		{{/each}}
		
	</tbody>
</table> 

<br>
<br>



<!_FORM TO ADD CONSENSUS ALGO_>

<form action="/consensus_add" method="post">
<caption>
        <h4>
                Add Consensus Algorithm
        </h4>
</caption>
        <fieldset>
                Algorithm Name: <input type="text" name="cname" placeholder="ex. Proof of Something">
	</fieldset>

	<fieldset>
		 Blockchain That Uses Algorithm: <select name="bcrel">
                                <option value="Bitcoin">
                                        Bitcoin
                                </option>
                                <option value="Decred">
                                        Decred
                                </option>
                                <option value="Ethereum">
                                        Ethereum
                                </option>
                                <option value="NXT">
                                        NXT
                                </option>
                                <option value="Slimcoin">
                                        Slimcoin
                                </option>
				<option value="NULL">
					None
				</option>
                                </select>

	</fieldset>

	<fieldset>
                Security Score: <input name="sscore" type="number" min="0" max="10"step="1" value ="0"/>
	
		Energy Efficiency Score: <input name="eescore" type="number" min="0" max="10"step="1" value ="0"/> 
        </fieldset>
        <fieldset>

                <input type="submit" value ="Add">

        </fieldset>
</form>


<!_FORM TO EDIT CONSENSUS ALGO_>

<form action="/consensus_edit" method="post">
<caption>
        <h4>
                Edit Consensus Algorithm
        </h4>
</caption>
	<fieldset>
		Current Algorithm name: <input type="text" name="ccnameE">
        <fieldset>
                Algorithm Name: <input type="text" name="cnameE" placeholder="ex. Proof of Something">
	</fieldset>

	<fieldset>
		 Blockchain That Uses Algorithm: <select name="bcrelE">
                                <option value="Bitcoin">
                                        Bitcoin
                                </option>
                                <option value="Decred">
                                        Decred
                                </option>
                                <option value="Ethereum">
                                        Ethereum
                                </option>
                                <option value="NXT">
                                        NXT
                                </option>
                                <option value="Slimcoin">
                                        Slimcoin
                                </option>
				<option value="NULL">
					None
				</option>
                                </select>

	</fieldset>

	<fieldset>
                Security Score: <input name="sscoreE" type="number" min="0" max="10"step="1" value ="0"/>
	
		Energy Efficiency Score: <input name="eescoreE" type="number" min="0" max="10"step="1" value ="0"/> 
        </fieldset>
        <fieldset>

                <input type="submit" value ="Edit">

        </fieldset>
</form>

	
</center>

<center>
<!_FORM TO DELTE CONSENSUS ALGO_>

<form action="/consensus_delete" method="post">
<caption>
        <h4>
                Delete Consensus Algorithm
        </h4>
</caption>
	<fieldset>
                Algorithm Name: <input type="text" name="cnameE" placeholder="ex. Proof of Something">
	</fieldset>

	<fieldset>
		 Blockchain That Uses Algorithm: <select name="bcrelE">
                                <option value="Bitcoin">
                                        Bitcoin
                                </option>
                                <option value="Decred">
                                        Decred
                                </option>
                                <option value="Ethereum">
                                        Ethereum
                                </option>
                                <option value="NXT">
                                        NXT
                                </option>
                                <option value="Slimcoin">
                                        Slimcoin
                                </option>
				<option value="NULL">
					None
				</option>
                                </select>

	</fieldset>

	<fieldset>

                <input type="submit" value ="Delete">

        </fieldset>
</form>



	
</center>



